# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pyo
.Python
*.env

# Virtual environments
env/
venv/
.venv/

# Logs
*.log
*.out
*.err

# Snapcraft
.snap/
prime/
stage/
.snapcraft/
*.snap

# PyCharm
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Configs and temporary files
*.swp
*.bak
*.tmp
*.old
*.orig
*.rej
